<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Book Details</title>
</head>
<body>
    <% if(book.coverImage) { %>
        <header>
            <img src="<%= book.coverImage %>" alt="<%= book.title %>">
        </header>
    <% } %>
    <h1>Details for <%= book.title %></h1>
    
    <% console.log(book) %>
    
    <% if(book.author) { %>
        <p>Written by: <%= book.author.firstName %> <%= book.author.lastName %></p>
    <% } else { %>
        <p>This book doesn't have an author yet</p>
        <a href="/authors/new">Add them now</a>
    <% } %>
    <p>There are currently <%= book.qty %> of these in stock</p>
    <% if(book.completed) { %>
        <p>You have finished this book</p>
    <% } else { %>
        <p>You have not finished this book</p>
    <% } %>
    <a href="/books">Go back to book list</a>
        <form action="/books/<%= book._id%>/buy" method="POST">
            <input <%= book.qty ? '' : 'disabled' %> type="submit" value="<%= book.qty ? 'Buy': 'Out of Stock' %>">
        </form> 
    </body>

    <h3>Write a Review For This Book</h3>
    <form action="/books/<%= book._id%>/reviews" method="POST">
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br />
        <textarea name="text"></textarea><br />
        <input type="submit" value="Add Review">
    </form>
    <% if(book.reviews.length > 0) { %>
        <h3>Current Reviews</h3>
        <% book.reviews.forEach(r => { %>
            <p><%= r.text %> - Rating: <%= r.rating %></p>
        <% }); %>
    <% } %>
</html>
